.card-text {
	color: black;
}

#genBtn {
	background-color: gold;
	color: black;
	border-color: black;
	width: 50%;
	height: auto;
}

#saveBtn {
	background-color: gold;
	color: black;
	border-color: black;
}

.card-title {
	color: black;
}

img {
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
}
