body {
	background-color: black;
	color: antiquewhite;
}span#intro {
	font-size: 25px;
	font-family: cursive;
	font-weight: bold;
	align-items: center;
	margin-left: 400px;
}
span#intro1 {
	font-size: 15px;
	font-family: cursive;
	font-weight: bold;
	align-items: center;
	margin-left: 150px;
}
span#warning {
	font-family: cursive;
	font-size: 20px;
	color: gold;
	font-weight: bold;
	margin-left: 200px;	
}
span#intro2 {
	font-size: 15px;
	font-weight: bold;
}
span#click {
	color: gold;
	font-size: 17px;
}

#dropdownMenuButton1 {
	background-color: gold;
	color: black;
	border-color: crimson;
}

.card-text {
	color: black;
	font-family: cursive;
	font-size: 15px;
	font-style: italic;
}

#genBtn {
	background-color: gold;
	color: black;
	border-color: black;
	/* width: 50%;
	height: auto; */
}

#saveBtn {
	background-color: gold;
	color: black;
	border-color: black;
}

.card-title {
	color: crimson;
	font-family: cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
}

img {
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
}
