body {
	background-color: black;
	color: antiquewhite;
}

#dropdownMenuButton1 {
	background-color: gold;
	color: black;
	border-color: crimson;
}
.card-text {
	color: black;
	font-family: cursive;
	font-size: 15px;
	font-style: italic;
}

#genBtn {
	background-color: gold;
	color: black;
	border-color: black;
	/* width: 50%;
	height: auto; */
}

#saveBtn {
	background-color: gold;
	color: black;
	border-color: black;
}

.card-title {
	color: crimson;
	font-family: cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
}

img {
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
}
